/* Theming */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&family=PT+Sans:wght@400;700&display=swap');

main {
    background-color: deepskyblue;
}
  
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "PT Sans", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #036fd4;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 25px;
    color: var(--white);
}
.menu a:hover{
    background-color: rgb(0, 168, 224)
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Header */
.header{
    background-color: rgb(15, 2, 200);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Sub nav */
.subnav-content {
    background-color: deepskyblue;
    width: 100%;
    z-index: 1;
    padding: 17px ;
    display: none;
}
.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.subnav:hover .subnav-content {
    display: block;
}


/* Responsiveness */
@media (min-width: 1075px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }

	/* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  var(--black);
    }
    .subnav-content a {
        color: white;
    }
}

/* Flex objects */
.flex-item {
	color: black;
	flex-basis: 15%;
	margin: 2%;
	text-align: center;
	line-height: 75px;
	font-size: 2em;
}

.flex-container {
    background-color: deepskyblue;
	align-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1075px) {
	.flex-container {
	  flex-flow: column wrap;
	  flex-direction: row;
	}
}

.split {
	flex-basis: 45%;
	display: flex;
	flex-direction: column;
	padding: 2%;
}

@media screen and (max-width: 900px) {
	.split {
		flex: 1 100%;
		flex-basis: 100%;
		flex-grow: 0;
	}
}

#Recentopenings {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

#Recentopenings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #036fd4;
    color: var(--black);
  }